/kernel/target
/limine
/ovmf
/.idea
/.zig-cache
/rootfs/bin
twilight_kernel/kernel
twilight-os.iso
rootfs.cpio
hdd.img
twilight-os.hdd
qemu.log
usb.img

/userspace/target
/userspace/twilight_c.a
/userspace/apps/*/src/*.o
/userspace/apps/*/build/*.o
