/kernel/target
**/target
/limine
/ovmf
/.idea
/.zig-cache
/rootfs/bin
/rootfs/sbin
/tools/time-regression/logs/*
/.claude/plans/*
twilight_kernel/kernel
kernel/twilight_kernel/kernel
twilight-os.iso
rootfs.cpio
initramfs.cpio
system.tfs
/build
hdd.img
twilight-os.hdd
qemu.log
usb.img

/userspace/target
/userspace/twilight_c.a
/userspace/apps/*/src/*.o
/userspace/apps/*/build/*.o
/userspace/apps/fbdoom/fbdoom
